.gallery {
  display: flex;
  padding: 24px 156px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.gallery-image {
  display: block;
  max-width: 360px;
}
