.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 24px 156px;
  list-style-type: none;
}

.gallery-image {
  display: block;
  transition: transform 0.5s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
